/* HeroesComponent's private CSS styles */
[hidden] { display: none !important;}
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .top{
    width:200px;
    float:left;
    display:block;
    position:fixed;
    height:calc(100% - 70px);
    /*margin-top:70px;*/
    box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
  }
  .heroes {
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 5px;
    background-color: #EEE;
   /* margin: .5em;*/
    padding: .2em 0;
    height: 1.6em;

    border-top: 1px solid #e3e9ea;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes .text {
    position: relative;
    top: -3px;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  ul{margin:0; padding:0;}

  .side-menu{
    list-style-type: none;
    margin-top: 0;
    width:100%;
    left:0;
    height: 30px;
  }

  .side-menu li{
    float: left;
    position: relative;
    display: block;
    cursor: pointer;
    position: relative;
    height: 30px;
    width:98px;
    border: 1px solid #e3e9ea;
    line-height:30px;
  }

  .sidemenuli{
    display: block;
    
    height: 40px;
    width:100%;
    border: 1px solid #e3e9ea;
    line-height:40px;
  }

  .sidemenuli a{
    display:block;
    text-decoration:none; 
    text-align:center;
    font-size:18px;
    font-family:verdana;
  }


  .side-menu-unclick{
    display:block;
    height:100%;
    text-decoration:none;   /* 取消a标签下划线 */
    text-align:center;      /* 文字水平居中显示 */
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);    
   }

   .side-menu-click{
    display:block;
    height:100%;
    text-decoration:none;   /* 取消a标签下划线 */
    text-align:center;      /* 文字水平居中显示 */
    background-color:rgb(0,0,0);
    color:rgb(255, 255, 255);    
   }

  .menu{
    /*max-height:500px;
    display:block;*/
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.86,0,.07,1);
    /*max-height: 500px;*/
   
  }

  .menu1{
    overflow: hidden;
    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.86,0,.07,1);
  }

  .root-control{
    display:none;
  }
  


  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */